//dark pallette
// $pageBackground: #333333;
// $headerText: #707070;
// $sectionText: white;
// $sectionBackground: #3a3c3da9;
// $sectionHover: #000006;
// $footer: rgb(110,117,117);

// $logo: rgb(103,89,94);
// $navbarBackground: #181818;

// $futuredev: #eebdb7;
// $devhover: rgb(46,118,94);
// $kristina: #67595E;
// $buttonBackground: rgb(37,38,39);
// $buttonTextHover: black;

// $aboutTitle: #96d7fa;

// $skillsTitle: rgb(148,201,115);
// $progLangTitle: rgb(194, 194, 194);

// $workTitle: #fdbf84;
// $tabTitle: #ffa755;
// $projectTitle: rgb(253,191,132);
// $projectBackground: #3a3c3da9;
// $projectBoxShadow: rgba(0, 0, 0, 0.25);


// $contactColor: #fded9ee7;

//palitra 2
// $logo: white;
// $navbarBackground: #5885AF;
// $pageBackground: #0C2D48;
// $headerText: #EEEDE7;

// $futuredev:white;
// $devhover:#7cbffd;
// $kristina: #5680a0;

// $buttonBackground: #081e30;
// $buttonTextHover: #05111b;

// $sectionBackground: #eeede7de;
// $sectionText: #071929;
// $sectionHover: white;
// $footer: #C3E0E5;

// $aboutTitle: white;
// $skillsTitle: white;
// $workTitle: white;
// $contactColor: white;



// $progLangTitle: rgb(194, 194, 194);
// $tabTitle: #2E8BC0;
// $projectBackground: #3a3c3da9;
// $projectBoxShadow: rgba(0, 0, 0, 0.25);


//palitra 3
$mainColor: #fcdad6;
$logo: white;
$navbarBackground: #774A62;
$pageBackground: #222C45;
$headerText: #EEEDE7;

$futuredev:$mainColor;
$devhover:#774A62;
$kristina: #774A62;

$buttonBackground: #081e30;
$buttonTextHover: #05111b;

$sectionBackground: #ffedea;
$sectionText: rgb(5, 18, 29);
$sectionHover: #ffedea;
$footer: $mainColor;

$aboutTitle: $mainColor;
$skillsTitle: $mainColor;
$workTitle: $mainColor;
$contactColor: $mainColor;



$progLangTitle: rgb(194, 194, 194);
$tabTitle:#a86a8b;
$projectBackground: #3a3c3da9;
$projectBoxShadow: rgba(0, 0, 0, 0.25);





